// Import theme
@import '~@angular/material/theming';
@import "~variables.scss";

// Set custom theme
@include mat-core();
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

body {
    margin: 0;
    background: lightgray;
}
