// Import theme
@import '~@angular/material/theming';
@import "~variables.scss";

// Set custom theme
@include mat-core();
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

// Import share buttons styles
@import '~font-awesome/css/font-awesome.min.css';
@import '~@ngx-share/button/themes/default/default-theme';


body {
    margin: 0;
    background: lightgray;
}
