<h1>Articles in {{ months[month - 1] }}</h1>

<div *ngIf="articles?.length > 0; else noarticles">
    <ul>
        <li *ngFor="let article of articles">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <a routerLink="/article/{{ article.id }}">{{ article.title }}</a>
                    </mat-card-title>
                    <span class="spacer"></span>
                    <time>{{ article.date | date:'MM/dd/yyyy' }}</time>
                </mat-card-header>

                <mat-card-actions>
                    <button mat-button>Like</button>
                    <button mat-button>Share</button>
                </mat-card-actions>
            </mat-card>
        </li>
    </ul>
</div>

<ng-template #noarticles>
    No articles.
</ng-template>
