<div>
    <h2>GIS</h2>

    <ul>
        <li>
            <a href="https://www.reddit.com/r/gis/" target="_blank">GIS @Reddit</a>
        </li>
        <li>
            <a href="https://gis.stackexchange.com/" target="_blank">GIS @Stackexchange</a>
        </li>
    </ul>
</div>

<div>
    <h2>QGIS</h2>

    <ul>
        <li>
            <a href="https://docs.qgis.org/2.14/en/docs/pyqgis_developer_cookbook/index.html" target="_blank">PyQGIS Developer Cookbook</a>
        </li>
        <li>
            <a href="https://gitter.im/qgis/QGIS" target="_blank">QGIS @Gitter</a>
        </li>
    </ul>
</div>
