<div>
    <h2>GIS</h2>

    <ul>
        <li>
            <a href="https://www.reddit.com/r/gis/" target="_blank">GIS @Reddit</a>
        </li>
        <li>
            <a href="https://gis.stackexchange.com/" target="_blank">GIS @Stackexchange</a>
        </li>
    </ul>
</div>

<div>
    <h2>QGIS</h2>

    <ul>
        <li>
            <a href="https://docs.qgis.org/2.14/en/docs/pyqgis_developer_cookbook/index.html" target="_blank">PyQGIS Developer Cookbook</a>
        </li>
        <li>
            <a href="https://gitter.im/qgis/QGIS" target="_blank">QGIS @Gitter</a>
        </li>
    </ul>
</div>

<div>
    <h2>Python</h2>

    <ul>
        <li>
            <a href="http://www.numpy.org/" target="_blank">NumPy</a>
        </li>
        <li>
            <a href="https://www.scipy.org/" target="_blank">SciPy</a>
        </li>
        <li>
            <a href="http://scikit-learn.org/" target="_blank">Scikit-learn</a>
        </li>
        <li>
            <a href="http://www.gdal.org/" target="_blank">GDAL</a>
        </li>
        <li>
            <a href="https://matplotlib.org/" target="_blank">Matplotlib</a>
        </li>
        <li>
            <a href="https://pandas.pydata.org/pandas-docs/stable/" target="_blank">Pandas</a>
        </li>
    </ul>
</div>

<div>
    <h2>ESA</h2>

    <ul>
        <li>
            <a href="http://step.esa.int/main/toolboxes/snap/" target="_blank">SNAP</a>
        </li>
        <li>
            <a href="https://scihub.copernicus.eu/dhus/" target="_blank">Sentinel Hub</a>
        </li>
    </ul>
</div>
