<header>
    <mat-toolbar color="primary">
        <span>{{ appName }}</span>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="appMenu">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>

    <nav>
        <mat-menu #appMenu="matMenu">
            <a mat-menu-item href="http://gistutorials.loc/bookquotes/" target="_blank">
                <mat-icon>format_quote</mat-icon> Bookquotes
            </a>
            <a mat-menu-item href="http://gistutorials.loc/expenses/" target="_blank">
                <mat-icon>shopping_cart</mat-icon> Expenses
            </a>
        </mat-menu>
    </nav>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    <mat-toolbar>
        <span class="spacer"></span>
        <span>
            By <a href="https://twitter.com/h4k1m0u" target="_blank" mat-raised-button color="primary">@h4k1m0u</a>
        </span>
    </mat-toolbar>
</footer>
