<mat-sidenav-container>
    <mat-sidenav mode="side" opened="true" *ngIf="!media.isActive('xs')">
        <nav class="menu">
            <mat-nav-list>
                <a mat-list-item routerLink="/articles/">
                    All articles
                </a>
                <a mat-list-item *ngFor="let month of months"
                    routerLink="/articles/date/{{ month[1] }}/{{ month[0] }}/">
                    {{ monthsNames[month[0] - 1] }} {{ month[1] }}
                </a>
            </mat-nav-list>
        </nav>

        <aside>
            <hr/>
            <h2>Hakim Benoudjit</h2>
            <p>
                <a href="https://medium.com/@h4k1m0u" target="_blank">
                    <i class="fa fa-medium" aria-hidden="true" color="primary"></i>
                    @h4k1m0u
                </a>
            </p>
            <ul>
                <li>Student in Remote Sensing.</li>
                <li>Python/Django and Angular enthusiast.</li>
            </ul>
            <hr/>
        </aside>

        <nav class="tags">
            <h2>Tags</h2>
            <ul>
                <li *ngFor="let tag of tags">
                    <a routerLink="/articles/tag/{{ tag.id }}/">#{{ tag.name }}</a>
                </li>
            </ul>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
