// import colors
@import '~variables.scss';

mat-sidenav-container {
    display: flex;
}

mat-sidenav-content {
    margin: 0 !important;
    flex: 1;
}

mat-sidenav {
    position: relative;
}

main {
    margin: 1em;
}

nav.menu {
    mat-nav-list {
        padding-top: 0;
    }
}

aside {
    margin: 1em;

    hr {
        border: 0;
        height: 1px;
        background-color:  mat-color($app-accent, 300);
    }

    h2 {
        text-align: center;
    }

    p {
        text-align: center;

        a {
            text-decoration: none;
            color: $primary;
        }
    }

    ul {
        list-style-type: circle;
    }
}

nav.tags {
    margin: 1em;

    ul {
        padding: 0;
        list-style: none;

        li {
            a {
                color: $primary;
                text-decoration: none;
            }
        }
    }
}
