<mat-sidenav-container>
    <mat-sidenav mode="side" opened="true" #sidenav>
        <nav>
            <mat-nav-list>
                <a mat-list-item routerLink="/articles/">
                    All articles
                </a>
                <a mat-list-item *ngFor="let month of months; let i = index"
                    routerLink="/articles/date/{{ month[0] }}/{{ month[1] }}/">
                    {{ monthsNames[month[1] - 1] }} {{ month[0] }}
                </a>
            </mat-nav-list>
        </nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
