// import colors
@import '~variables.scss';

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

mat-toolbar {
    a {
        color: white;
    }
}

.spacer {
    flex: auto;
}

.banner {
    flex-direction: column;
    justify-content: center;
    height: 250px;
    background: url('/assets/images/banner.png') no-repeat;
    color: white;
    font-family: 'Roboto Condensed';

    .slogan {
        font-size: 5rem;
        line-height: 5rem;
    }
}

.banner-mobile {
    white-space: normal;
    .slogan {
        font-size: 3rem;
        line-height: 1em;
    }
}

.banner-credit {
    height: auto;
    margin-top: -2em;
    padding: 0.2em;
    display: flex;

    a {
        margin-left: auto;
    }
}

footer {
    margin-top: auto;

    mat-toolbar {
        .footer-credit, .footer-copyright {
            margin-left: auto;
            font-size: 1rem;
        }

        .footer-credit {
            text-decoration: none;
            color: $primary;
        }
    }
}
