// import colors
@import '~variables.scss';

:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.spacer {
    flex: auto;
}

.banner {
    height: 250px;
    background: url('/assets/images/banner.png') no-repeat;
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 5rem;
}

footer {
    margin-top: auto;

    .date {
        text-align: center;
        font-size: 1rem;
    }
}
