// import colors
@import '~variables.scss';

ul {
    list-style: none;
    padding: 0;
}

mat-card {
    margin-bottom: 1em;
}

mat-card-title {
    h2 {
        font-size: 32px;

        a {
            text-decoration: none;
            color: $primary;
        }
    }
}

mat-card-subtitle {
    time {
        color:  mat-color($app-accent, 300);
    }
}

img.mat-card-image {
    display: block;
    width: 80%;
    margin: 1.5em auto;
}

hr {
    border: 0;
    height: 1px;
    background-color:  mat-color($app-accent, 300);
}

mat-card-footer {
    display: flex !important;
    margin: auto !important;
    flex-wrap: wrap;

    ul {
        flex: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 14px auto;
        padding: 0;
        list-style: none;

        li {
            margin-right: 1em;

            a {
                color: $primary;
                text-decoration: none;
            }
        }
    }
}
