// import colors
@import '~variables.scss';

mat-card-header {
    border-bottom: 1px solid mat-color($app-accent, 300);
}

mat-card-title {
    h2 {
        font-size: 32px !important;
    }
}

mat-card-subtitle {
    time {
        color:  mat-color($app-accent, 300);
    }
}

mat-card-content {
    margin-top: 2em;
    
    img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}
