<nav>
    <button mat-raised-button color="primary" routerLink="/articles/">
        <mat-icon>view_list</mat-icon> Return to list
    </button>
</nav>

<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>{{ article.title }}</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <time>{{ article.date | date:'dd/MM/yyyy' }}</time>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div highlight="all" [innerHtml]="article.text | safeHtml"></div>
    </mat-card-content>

    <mat-card-actions>
        <share-button button="twitter" text="Tweet" showText="true" description="{{ article.title }}"></share-button>
        <share-button button="facebook" text="Share" showText="true"></share-button>
    </mat-card-actions>
</mat-card>
