// import colors
@import '~variables.scss';

mat-card-title {
    h2 {
        font-size: 32px !important;
    }
}

mat-card-subtitle {
    time {
        color:  mat-color($app-accent, 300);
    }
}

mat-card-content {
    margin: 1.5em auto !important;
    
    img {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    
    a {
        color: $primary !important;
        text-decoration: none !important;
    }
}

hr {
    border: 0;
    height: 1px;
    background-color:  mat-color($app-accent, 300);
}

mat-card-footer {
    margin: 0 !important;

    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 14px auto;
        padding: 0;
        list-style: none;

        li {
            margin-right: 1em;

            a {
                color: $primary;
                text-decoration: none;
            }
        }
    }
}
